@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,200&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: url('./background.jpg');
  background-size: 1480px 730px ;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  font-size: 5.5rem;
  font-weight: 800;
}

/* logo text */
.logo {
  display: flex;
  color:antiquewhite;
  font-size: 2rem;
  font-style: italic;
  font-weight: 200;
  padding-left: 420px;
}

.logoImg {
  margin-top: -30px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  padding-top: 20px;
}

/* navigation menu */
.navBar {
  display: grid;
  grid-template-columns: repeat(3, 450px);
}

#home {
  margin-left: 850px;
}

ul.navMenu {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

li.navLinks {
  display: flex;
  justify-content: space-around;
  color: antiquewhite;
  cursor: pointer;
  font-size: 1.5rem;
  list-style: none;
  padding-top: 50px;
  margin-right: 50px;
}

li.navLinks:hover {
  text-decoration: underline;
}

/* animated text */
.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }

  /* Media Queries */
  @media (max-width: 768px) {
    body {
      background-size: 500px 730px;
      text-align: center;
    }

    .header {
      font-size: 3rem;
      left: 30px;
    }

    .logo {
      font-size: 1.5rem;
      margin-left: -390px;
    }

    .logoImg {
      margin-top: -30px;
      margin-left: 170px;
      width: 150px;
      height: 150px;
  }

    .home {
      margin-left: 0;
    }

    ul.navMenu {
      display: flex;
      margin-top: 100px;
      margin-left: -650px;
      width: 20%;
  }
  
  li.navLinks {
      padding-top: 10px;
      margin-right: 20px;
  }

}



